<!DOCTYPE html>
<html lang="en">

  <head>
	<style>
		.footer {
		  position: fixed;
		  bottom: 0;
		  width: 80%;
		  left: 10%;
		  height: 40px;
		  background-color: #f5f5f5;
		  text-align: center;
		}
	</style>

    <title>Good Music - Good Feeling</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ static_root }}/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ static_root }}/favicon.ico">
	<link rel="stylesheet" href="{{ static_root }}/css/font-awesome.min.css">

  </head>

  <body id="body" >

        <div class="container">
         
            <div class="row">
              &nbsp; <!-- we all love html -->
            </div>
            <div class="row">
               &nbsp;<!-- we all love html -->
            </div>
            
            <div class="input-group">
                <input type="text" class="form-control" id="query" placeholder="Search for .." />
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="search_track" >Search Track</button>
                        <button class="btn btn-defautl" id="search_album" >Search Album</button>
                    </span>
            </div>

            <table id="results" class="table" >
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Title</th>
                        <th>Album</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

		</div> <!-- end container -->

    <footer class="footer">
      <div class="container">
		<i class="fa fa-angellist" ></i> |
        <span class="text-muted">
			ctrl+m: focus search bar |
			Enter: search for songs |
			Alt+Enter: search for albums | 
			ctrl+b: go BACK to ympd |
        </span>
		<i class="fa fa-cc-paypal" title="Donate: " ></i>
      </div>
    </footer>

    
    <!-- Bootstrap core JavaScript -->
    <script src="{{ static_root }}/js/jquery.min.js"></script>
    <script src="{{ static_root }}/js/custom.js"></script>
    <script>
        window.deezer_downloader_api_root = '{{ api_root }}';
    </script>

<link rel="stylesheet" type="text/css" href="{{ static_root }}/css/jquery.jgrowl.min.css" />
<script src="{{ static_root }}/js/jquery.jgrowl.min.js"></script>


  </body>

</html>
